<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--<img src="img/logo.png" alt="logo">-->

<main class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %> Page</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Contact Information</h3>
                </div>
                <div class="card-body">
                    <p><strong>Phone:</strong> 437-267-2502</p>
                    <p><strong>Email:</strong> bsbp414@gmail.com</p>
                    <p><strong>Address:</strong> 37 Sancrest Drive, Scarborough, Toronto, ON</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Contact Form</h3>
                </div>
                <div class="card-body">
                    <form action="/" >
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" required>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" required>
                        </div>
                        <div class="form-group">
                            <label for="contactNumber">Contact Number</label>
                            <input type="tel" class="form-control" id="contactNumber" name="contactNumber" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" name="message" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
